* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      0deg,
      rgba(35, 17, 2, 0.647),
      rgba(24, 12, 2, 0.212)
    ),
    url("/src/img/MadMage_Expansion_2560x1600_Wallpaper_Template.jpeg");
  background-repeat: no-repeat;
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
}

.medievalsharp-regular {
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
}

main {
  flex: 1;
  display: flex;
  align-items: flex-start;
  padding-top: 10vh;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "MedievalSharp", cursive;
}

header {
  margin: auto;
  padding: 100px 0px 20px 0px;
  text-align: center;
}

h1 {
  color: whitesmoke;
  text-shadow: 5px 5px 1px black;
  font-size: 5rem;
}

.input-field {
  padding: 15px 0px 0px 0px;
  margin: 0px auto;
}

form {
  padding: 15px 0px 2px 0px;
}

#create-input {
  width: 400px;
  padding: 12px 10px 5px 2px;
  vertical-align: middle;
}

::placeholder {
  color: rgb(86, 86, 86);
  font-size: 1.8rem;
}

#create-button {
  padding: 5px 15px;
  font-family: "MedievalSharp", cursive;
  font-size: 2rem;
  vertical-align: middle;
  background-color: rgb(204, 186, 167);
}

#create-button:hover {
  background-color: rgb(147, 133, 118);
  cursor: pointer;
}

#create-button:focus {
  background-color: grey;
}

.input-field p {
  font-size: 1.3rem;
  font-style: italic;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 20px 0px 10px 0px;
  font-size: 1rem;
  color: rgb(107, 107, 107);
}

footer a {
  color: rgb(134, 88, 4);
  font-weight: 600;
  text-decoration: none;
}
